#all {
    color: #50f;
    font-family: Arial;
    filter: blur(99999999);
    font-size: 200%;
}

#description {
    font-size: 100%;
    position: absolute;
    left: 35%;
}

body {
    background-color: black;
}